langchain
streamlit
langchain-google-genai
python-dotenv
pandas
google-generativeai>=0.8.4
plotly
google-generativeai
PyYAML
streamlit-authenticator
yfinance>=0.2
plaid-python
requests
beautifulsoup4
streamlit-lottie
feedparser
html
python-3.9.13
